@model IEnumerable<Showtime>

@{
    ViewData["Title"] = "Lịch chiếu phim";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var data = ViewBag.ScheduleTypes;

    var selectList = new SelectList(data, "Value", "Text", 0);
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-action="ChooseTheater">Tạo mới</a>
</p>


@* <select asp-items="selectList"> *@
@*     <option value=""></option> *@
@* </select> *@

<form asp-controller="Showtimes" asp-action="Index" method="get">
    <p>
        <label>Tên phim: <input class="form-control" type="text" name="searchName" /></label>
        @* <input type="submit" value="Filter" /> *@

        <label class="m-1" for="searchSchedule">
            Ca chiếu:
            @* <input class="form-control" type="text" id="searchSchedule" name="searchSchedule"> *@


            @Html.DropDownList("scheduleType", new SelectList(ViewBag.ScheduleTypes, "Value", "Text"), new { @class = "form-control" })
        </label>

        <label class="m-1" for="searchDate">
            Ngày:
            <input class="form-control" type="date" id="searchDate" name="searchDate">
        </label>

        <button class="btn btn-primary" type="submit">Search</button>

    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreeningRoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreeningRoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowtimeSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheaterName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScreeningRoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScreeningRoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowtimeSchedule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheaterName)
                </td>
                <td>
                    <a class="btn-sm btn-info text-decoration-none" asp-controller="Tickets" asp-action="Index" asp-route-showtimeId="@item.Id">Bán vé</a>
                    <a class="btn-sm btn-warning text-decoration-none" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>