@model IEnumerable<Showtime>

@{
    ViewData["Title"] = "Suất chiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Suất chiếu</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Tạo mới</a>
</p>

<form asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <label>Title: <input class="form-control" type="text" name="SearchString" /></label>
        @* <input type="submit" value="Filter" /> *@

        <label for="searchDate">
            Date:
            <input class="form-control" type="date" id="searchDate" name="searchDate">
        </label>


        <button class="btn btn-primary" type="submit">Search</button>

    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreeningRoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowtimeSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheaterName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScreeningRoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowtimeSchedule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheaterName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>